.parent {
    height: 100%;
}

#content {
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
    width: 70%;
    height: 40em;
    margin: 2em auto;
}

.flexbox {
    display: flex;
}

::ng-deep svg {
    margin: 1em 2em 1em 20em;
}

::ng-deep.subunit {
    stroke: #fff;
    stroke-width: 1px;
}

::ng-deep.subunit.active {
    cursor: pointer;
}

::ng-deep.subunit-label {
    font-size: .5em;
    text-shadow: 0px 0px 2px #fff;
    font-weight: bold;
    text-transform: uppercase;
}

::ng-deep.tooltip {
    position: absolute;
    text-align: center;
    width: 100px;
    height: 85px;
    padding: 2px;
    font: 12px sans-serif;
    background: #fff;
    border: 0px;
    pointer-events: none;
    opacity: 0;
}