<div class="parent">
    <div id="content">
        <h2>Covid-19 India </h2>
        <div class="container">
            <div class="svgcontent">
                <svg></svg>

                <!-- <span id="confirmed-cases">Confirmed Cases</span> -->
                <div class="colors">

                    <div class="colordata">
                        <span>0</span>
                        <div class="color1 colordim"></div>
                    </div>

                    <div class="colordata">
                        <span>500  </span>
                        <div class="color2 colordim"></div>
                    </div>

                    <div class="colordata">
                        <span>1,000</span>
                        <div class="color3 colordim"></div>
                    </div>

                    <div class="colordata">
                        <span>2,000</span>
                        <div class="color4 colordim"></div>
                    </div>

                    <div class="colordata">
                        <span>4,000</span>
                        <div class="color5 colordim"></div>
                    </div>

                </div>
            </div>
            <div class="table-wrapper">
                <div class="table-container">

                    <mat-accordion displayMode="flat" class="mat-table">


                        <section class="mat-elevation-z2 mat-header-row" matSort (matSortChange)="sortStateData($event)">
                            <span class="mat-header-cell" mat-sort-header="state">State</span>
                            <span class="mat-header-cell confirmed" mat-sort-header="confirmed">Conf</span>
                            <span class="mat-header-cell active" mat-sort-header="active">Act</span>
                            <span class="mat-header-cell recovered" mat-sort-header="recovered">Rec</span>
                            <span class="mat-header-cell death" mat-sort-header="death">Death</span>
                        </section>

                        <mat-expansion-panel (click)="drawIndiaMap()" disabled>
                            <mat-expansion-panel-header class="mat-row">
                                <span class="mat-cell">{{stateInfo[0].state}}</span>
                                <span class="mat-cell">{{stateInfo[0].confirmed | number}}</span>
                                <span class="mat-cell">{{stateInfo[0].active | number}}</span>
                                <span class="mat-cell">{{stateInfo[0].recovered | number}}</span>
                                <span class="mat-cell">{{stateInfo[0].deaths | number}}</span>
                            </mat-expansion-panel-header>
                        </mat-expansion-panel>


                        <mat-expansion-panel *ngFor="let state of sortedStateInfo | slice:1; let i = index" id="{{state.state}}" [disabled]="state.confirmed == 0">

                            <mat-expansion-panel-header class="mat-row" (click)="drawPlace(state.state,i)">
                                <span class="mat-cell">{{state.state}}</span>
                                <span class="mat-cell">{{state.confirmed | number}}</span>
                                <span class="mat-cell">{{state.active | number}}</span>
                                <span class="mat-cell">{{state.recovered | number}}</span>
                                <span class="mat-cell">{{state.deaths | number}}</span>
                            </mat-expansion-panel-header>
                            <mat-action-row>
                                <ng-container *ngIf="selectedStateInfo">
                                    <table matSort (matSortChange)="sortData($event)">



                                        <tr>
                                            <th mat-sort-header="district">District</th>
                                            <th mat-sort-header="confirmed" class="confirmed"> Conf </th>
                                            <th mat-sort-header="active" class="active"> Act </th>
                                            <th mat-sort-header="recovered" class="recovered"> Rec </th>
                                            <th mat-sort-header="death" class="death"> Death </th>

                                        </tr>


                                        <tr *ngFor="let district of sortedDistricts">


                                            <td>{{district.district}} </td>
                                            <td>{{district.confirmed | number}}</td>
                                            <td>{{district.active | number}}</td>
                                            <td>{{district.recovered | number}}</td>
                                            <td>{{district.deceased | number}}</td>
                                        </tr>

                                    </table>
                                </ng-container>
                            </mat-action-row>
                        </mat-expansion-panel>


                    </mat-accordion>



                </div>
            </div>


        </div>
    </div>
</div>