<div class="parent">
    <div id="content">
        <h2>Covid-19 Daily Cases Tracker</h2>
        <div class="flexbox">

            <table>
                <tr>
                    <th>State</th>
                    <th> Confirmed Cases</th>
                </tr>
                <tr>
                    <td>1.Maharashtra</td>
                    <td>6,000</td>
                </tr>
            </table>
            <div class="svgcontent">
                <svg></svg>
                <div class="colors">
                    <div class="colordata">
                        <span><500</span>
                        <div class="color1 colordim"></div>
                    </div>

                    <div class="colordata">
                        <span>>500 & <1,000  </span>
                        <div class="color2 colordim"></div>
                    </div>

                    <div class="colordata">
                        <span>>1,000 & <2,000</span>
                        <div class="color3 colordim"></div>
                    </div>

                    <div class="colordata">
                        <span>>2,000 & <4,000</span>
                        <div class="color4 colordim"></div>
                    </div>

                    <div class="colordata">
                        <span>>4,000</span>
                        <div class="color5 colordim"></div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>