<div class="parent">
    <div id="content">
        <h2>Covid-19 Daily Cases Tracker</h2>
        <div class="flexbox">
            <div class="table-wrapper">
                <div class="table-container">
                    <table>
                        <thead>
                            <tr>

                                <th>No.</th>
                                <th>State</th>
                                <th> Confirmed Cases</th>
                            </tr>
                        </thead>

                        <tbody>
                            <td></td>
                            <td>{{stateInfo[0].state}}</td>
                            <td>{{stateInfo[0].confirmed | number}}</td>
                            <tr *ngFor="let state of stateInfo | slice:1; let i = index">
                                <td>{{i+1}}.</td>
                                <td>{{state.state}}</td>
                                <td>{{state.confirmed | number}}</td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
            <div class="svgcontent">
                <svg></svg>
                <!-- <span id="confirmed-cases">Confirmed Cases</span> -->
                <div class="colors">

                    <div class="colordata">
                        <span><500</span>
                        <div class="color1 colordim"></div>
                    </div>

                    <div class="colordata">
                        <span>>500 & <1,000  </span>
                        <div class="color2 colordim"></div>
                    </div>

                    <div class="colordata">
                        <span>>1,000 & <2,000</span>
                        <div class="color3 colordim"></div>
                    </div>

                    <div class="colordata">
                        <span>>2,000 & <4,000</span>
                        <div class="color4 colordim"></div>
                    </div>

                    <div class="colordata">
                        <span>>4,000</span>
                        <div class="color5 colordim"></div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>