::ng-deep.parent {
    height: 100%;
}

::ng-deep#content {
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.3);
    width: 70%;
    height: 40em;
    margin: 2em auto;
}

h2 {
    color: #0C2FE7;
    padding: 0.5em 1em 0.5em;
    margin-bottom: 0em;
}


/* 
::-webkit-scrollbar {
    width: 0px;
    
} */

::ng-deep.table-wrapper {
    margin-left: 1.5em;
}

::ng-deep.table-container {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 35em;
    /* -ms-overflow-style: none;
    
    scrollbar-width: none; */
}

::ng-deep table {
    border-collapse: collapse;
    border-top: 2px solid #707070;
    width: 100%;
}

::ng-deep tr:first-child {
    border-bottom: 2px solid #707070;
}

::ng-deep th {
    padding: 0.8em;
    font-size: 1rem;
    text-align: left;
}

::ng-deep td {
    border-bottom: 1px solid #ddd;
    padding: 0.8em;
    font-size: 1rem;
}

::ng-deep.flexbox {
    display: flex;
}

::ng-deep svg {
    margin: 1em 2em 1em 4em;
}

::ng-deep.subunit {
    stroke: #fff;
    stroke-width: 1px;
}

::ng-deep.subunit.active {
    cursor: pointer;
}

::ng-deep.subunit-label {
    font-size: .5em;
    text-shadow: 0px 0px 2px #fff;
    font-weight: bold;
    text-transform: uppercase;
}

::ng-deep.tooltip {
    position: absolute;
    text-align: center;
    width: 100px;
    height: 85px;
    padding: 2px;
    font: 12px sans-serif;
    background: #fff;
    border: 0px;
    pointer-events: none;
    opacity: 0;
}

.colors {
    display: flex;
    justify-content: space-evenly;
    width: 63%;
    margin-left: 5em;
}

::ng-deep.colordim {
    width: 3.6em;
    height: 1.2em;
}

::ng-deep.colordata {
    text-align: center;
}

::ng-deep.color1 {
    background-color: #BAC5F8;
}

::ng-deep.color2 {
    background-color: #99AAF8;
}

::ng-deep.color3 {
    background-color: #5F76F0;
}

::ng-deep.color4 {
    background-color: #0C2FE7;
}

::ng-deep.color5 {
    background-color: #091D83;
}

::ng-deep #confirmed-cases {
    margin-left: 2em;
}

::ng-deep .colordata span,
span {
    font-size: 0.45rem;
}

::ng-deep.confirmed {
    color: blue;
}

::ng-deep.active {
    color: red;
}

::ng-deep.recovered {
    color: rgb(48, 197, 48);
}

::ng-deep.death {
    color: gray;
}